.auth-link{
    color: white;
}

.box-shadow{
    -webkit-box-shadow: 0px 1px 15px 5px rgba(0,0,0,0.48); 
    box-shadow: 0px 1px 15px 5px rgba(0,0,0,0.48);
}

.inputs{
    border-radius: 25px;
    border: 2px solid gray;
    padding: 20px; 
    width: 200px;
    height: 15px;    
}

.inputs:focus{
    outline: none;
}